@page "/addedsuccess"


<h3 class="mt-4 mb-3">🎉 You've Successfully Added an Employee to the Project! 🎉</h3>

<div class="alert alert-success" role="alert">
    <strong>Great job!</strong> This employee has been successfully added. 🚀
</div>

<a href="/getallemployeesfromproject" class="btn btn-primary">View All Employees from Project</a>
<a href="//getallprojectsofoneemployee" class="btn btn-warning">View All Projects of One Employee</a>
<br /><a href="/" class="btn btn-secondary mt-3">Home</a>


@code {

}
