@page "/deletedsuccess"

<h3 class="mt-4 mb-3">🎉 Employee Deleted Successfully! 🎉</h3>

<div class="alert alert-success" role="alert">
    <strong>Great job!</strong> This employee has been successfully deleted from the project. 🚀
</div>

<a href="/getallemployeesfromproject" class="btn btn-primary">Back To All Employees from Project</a>
<a href="/" class="btn btn-secondary">Home</a>


@code {

}
