@page "/documentaddedsuccess"

<h3 class="mt-4 mb-3">🎉 Document Added Successfully! 🎉</h3>

<div class="alert alert-success" role="alert">
    <strong>Great job!</strong> Your document has been successfully added. 🚀
</div>

<a href="/getalldocuments" class="btn btn-primary">Back to Documents</a>
<a href="/" class="btn btn-secondary">Home</a>


@code {

}
