@page "/createdemployeeerror"

<h3 class="mt-4 mb-3">Oops! Something Went Wrong...</h3>

<div class="alert alert-danger" role="alert">
    <strong>Uh-oh!</strong> It seems like there was an error while adding this employee. 🤔 Don't worry, we'll fix it!
</div>

<a href="/employees" class="btn btn-primary">Back to Employees</a>
<a href="/" class="btn btn-secondary">Home</a>


@code {

}
