@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-6 text-center">
            <h1 class="display-4 mb-4">Sibers Internship</h1>
            <p class="lead">This is a home page</p>
            <p class="lead">Start exploring the features and functionalities of the app!</p>
        </div>
    </div>
</div>
