@page "/deletederror"

<h3 class="mt-4 mb-3">Oops! Something Went Wrong...</h3>

<div class="alert alert-danger" role="alert">
    <strong>Uh-oh!</strong> It seems like there was an error while removing employee from project. 🤔 Don't worry, we'll fix it!
</div>

<a href="/deleteemployeefromproject" class="btn btn-primary">Try To Delete Again</a>
<a href="/" class="btn btn-secondary">Home</a>


@code {

}
