@page "/duplicationerror"

<h3>Oops! Looks like a Duplicate!</h3>

<p>It seems you stumbled upon this page because you tried to add an employee to a project where they are already hard at work! 🤔🔍</p>

<p>Don't worry, we've got it covered! Just sit back, relax, and let's keep things nice and tidy. 😄👍</p>


@code {

}
