@page "/createdprojectsuccess"

<h3 class="mt-4 mb-3">🎉 Project Created Successfully! 🎉</h3>

<div class="alert alert-success" role="alert">
    <strong>Great job!</strong> Your project has been successfully created. 🚀
</div>

<a href="/projects" class="btn btn-primary">Back to Projects</a>
<a href="/" class="btn btn-secondary">Home</a>


@code {

}
